* {
  margin: 0;
  padding: 0;
}
.main {
  background-image: url(netflix_files/bg.jpg);
  height: 80vh;
}
.main .box {
  height: 80vh;
  width: 100%;
  opacity:0.7;
  background-color: black;
}
nav {
  max-width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav img {
  height: 100px;
}
.btn {
  margin: 4px;
}
.btn1 {
  background-color: black;
}
.btn1 select {
  background-color: black;
  color: white;
  padding: 5px;
}
.btn2 {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  padding: 8px;
  margin: 0px;
  border-radius: 4px;
}

.content {
  color: white;
  text-align: center;
  margin-top: 150px;
}
.content h2 {
  font-size: 33px;
  font-family: sans-serif;
}
.para {
  font-size: 21px;
  font-family: sans-serif;
  margin-top: 20px;
}
#email {
  padding: 10px;
  background-color: black;
  color: white;
  margin: 5px;
  margin-top: 35px;
}
#button {
  background-color: red;
  color: white;
  border: none;
  padding: 12px;
  margin: 4px;
  border-radius: 4px;
}
.seperation {
  border: 2px solid rgb(71, 70, 70);
}
